.countryList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .9s ease-in-out;
}


.countryList input{
    display: relative;
    align-items: center;
    font-size: 17px;
    font-family: sans-serif;
    text-align: center;
    width: 30%;
    margin: 5vh auto 10vh auto;
    padding: 0.7rem;
    border-radius: 13px;
    box-shadow:2px 2px 15px 10px rgba(45, 72, 87, 0.4);
    transition: 1s ease;
}

.countryList input:focus {
    outline: none;
}


@media screen and (max-width: 720px) {

    .countryList{
        align-items: center;
    }
  }
