*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #16213e;
  color: #eeeded;
}

.app{
  font-family: 'Roboto';
}


.app > img{
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: -1rem 0  3rem rgb(13, 22, 26);
  
}
.app > h1{
  text-align: center;
  padding: 0.5rem;
  margin: 1rem ;
}