*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #16213e;
  color: #eeeded;
}

.app{
  font-family: 'Roboto';
}


.app > img{
  width: 30%;
  display: block;
  margin : 2.5rem auto;
  margin-bottom : 1rem;
}
.app > h1{
  text-align: center;
  padding: 0.5rem;
  margin: 1rem ;
}


@media screen and (max-width: 720px) {

  .app{
      margin-top: auto;
      align-items: center;
      transform: scale(0.6);
      position:absolute;
      right:-2.8rem;
      top:0px;
      transform-origin:top right;
  }
}
